/*
!/.gitignore

# This is our NOT ignore list

!docs/

!mods/
!profileImage/
!scripts/
!defaultconfigs/
!resourcepacks/

!options.txt

!config/fml.toml
!config/fancymenu/
!config/carryon-common.toml
!config/drippyloadingscreen/
!config/alexsmobs.toml
!config/endermail-common.toml
!config/quark-common.toml
!config/supplementaries-common.toml
!config/xaeroworldmap.txt
!config/jei/blacklist.cfg
!config/jei/ingredient-list-mod-sort-order.ini
!config/jei/recipe-category-sort-order.ini
/minecraftinstance.json
