/*
!/.gitignore
!/README.md
!.cursorrules

# This is our NOT ignore list

!docs/
docs/Create.FF-X.X.ServerPack
docs/*.zip
docs/*.log

!mods/
!profileImage/
!scripts/
!defaultconfigs/
!resourcepacks/

!options.txt

!config/fml.toml!config/fancymenu/
!config/drippyloadingscreen/
!config/alexsmobs.toml
!config/carryon-common.toml
!config/endermail-common.toml
!config/immersive_aircraft.json
!config/incapacitated-common.toml
!config/quark-common.toml
!config/supplementaries-common.toml
!config/xaeroworldmap.txt
!config/jei/blacklist.cfg
!config/jei/ingredient-list-mod-sort-order.ini
!config/jei/recipe-category-sort-order.ini
